@import '../../styles.scss';
@import "../../media-queries";

.in-title {
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    margin-top: 160px;
    letter-spacing: 2px;

    @include mobile {
        font-size: 40px;
    }
}

.in-subtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 2px;

    @include mobile {
        font-size: 20px;
    }
}

.img-contain {
    margin: auto;
    margin-top: 56px;
    overflow: hidden;
    background-color: $green-base;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;

    img {
        position:absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        margin: auto;
        height: 100%;
        width: 80%;
    }
}

.bottom {
    display:flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.img-computer {
    filter: invert(88%) sepia(11%) saturate(2271%) hue-rotate(87deg) brightness(106%) contrast(102%);
    
}
