@import "../../media-queries";
@import "../../styles.scss";

.portafolio_contain {
    height: 100vh;
    width: 100vw;
}

.btn-nav {
    display: none;

    @include mobile {
        display: inline;
        background-color: transparent;
        border: none;
    }
}

.menu-mobile {
    cursor: pointer;
    filter: invert(90%) sepia(100%) saturate(28%) hue-rotate(255deg) brightness(108%) contrast(100%);
}

.navbar_contain {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: $green-base;  
    color: white;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    @include mobile {
        justify-content: space-between;
    }
}

.author {
    font-weight: 800;
    font-size: 36px;
}

.open-menu {
    position: absolute;
    background-color: $green-base;  
    border-top: 2px solid white;
    width: 100%;
    top: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;

    a {
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

    @include desktop {
        position: static;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        font-weight: 600;
        bottom: 0;
        cursor: pointer;
        padding: 0px;
        border-top: none;
        top: 0px;
        left: 0px;
        width:70%;

        a {
            margin-left: 34px;
            text-align: left;
        }
    }
}

.desktop-menu {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    a {
        margin-left: 34px;
        text-decoration: none;
        color: white;
    }

    @include mobile {
        display: none;
    }
}

.language {
    position: absolute;
    right: 10px;
    background-color:transparent;
    color: white;
    border: 2px solid white; 
    padding: 6px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    @include mobile {
        display: none;
    }
}

.flecha-abajo {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(201deg) brightness(101%) contrast(101%);
    width: 12%;
    margin-left: 10px;
}