*,
*::after,
*::before {
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
}

// 4-5 colores
// $green-base: #1FA33E;
// $green-base: #06BF56;
// $green-base: #4EFFBB;
// $darkgreen: #038A61;
// $darkgreen: #11251A;
// $darkgreen: #16403E;
$darkgreen: #03403E;
// $green-base: #4C9F8B;
// $green-base: #4FBD98;
$green-base: #07BEB8;
$shadowgreen: #068C88;