*,
*::after,
*::before {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
}

$darkgreen: #03403E;
$green-base: #07BEB8;
$shadowgreen: #068C88;